.text-align_left {
    text-align: left;
}

.cursor-pointer {
    cursor: pointer;
}

.margin-left_30 {
    margin-left: 30px;
}

.margin-top_15{
    margin-top: 15px;
}

.margin-top_20{
    margin-top: 20px;
}

.margin-left_auto {
    margin-left: auto;
}

.font-size_14 {
    font-size: 14px;
}

.font-size_10 {
    font-size: 10px;
}

.font-size_12 {
    font-size: 12px;
}

.font-weight_lighter {
    font-weight: lighter;
}

.font-weight_bold {
    font-weight: bold;
}

.font-weight_bolder {
    font-weight: bolder;
}

.margin-bottom_5 {
    margin-bottom: 5px;
}

.margin-bottom_15 {
    margin-bottom: 15px;
}

.feed_blue_color {
    color: rgba(2, 117, 177, 1);
}

.new-post-block {
    background-color: #ffffff;
    box-sizing: border-box;
    height: 135px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 25px;
    display: flex;
    flex-direction: column;
}

.new-post__title {
    font-size: 12px;
    font-weight: 700;
    line-height: 12px;
    margin: 0px;
}

.new-post__input-block {
    margin-top: 20px;
    padding-top: 30px;
    padding-bottom: 33px;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
}

.new-post__placeholder{
    width: 500px;
    border: none;
    font-size: 18px;
    font-weight:400;
    color: rgba(16, 16, 16, 0.2);
    margin-right: 200px;
}

.new-post__image {
    width: 24px;
    height: 24px;
    margin-right: 30px;
}

.new-post__button {
    border: 1px solid #0275b1;
    box-sizing: border-box;
    border-radius: 4px;
    width: 32px;
    height: 32px;
    font-size: 12px;
    font-weight: 700;
    line-height: 11px;
    text-align: center;
    text-transform: uppercase;
}

.new-post__button:active {
    transform: scale(0.85);
    box-shadow: 1px 1px rgba(102, 217, 255, 0.5);
}

.new-post__button-image {
    height: 16px;
    width: 16px;
}

.button-blue {
    background: linear-gradient(180deg, #0077b5 0%, #0e6795 100%);
    color: #ffffff;
}

.sort__block {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 40px;
}

.post__block {
    background-color: #FFFFFF;
    width: 850px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.post-header__block {

    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 15px;
    border: 1px solid #F4F4F4;
}

.post-header__text{
    font-size: 10px;
    line-height: 15px;
}

.post-author__block {
    display: flex;
    flex-direction: row;
    margin: 15px 30px;
}

.post-author__avatar {
    height: 52px;
    width: 52px;
    margin-right: 15px;
}

.post_text {
    font-size: 14px;
    margin-right: 30px;
}

.post_file__block {
    margin-bottom: 10px;
    width: 790px;
    height: 80px;
    background-color: rgba(233, 240, 248, 1);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.post_file__icon {
    width: 42px;
    height: 42px;
    margin-right: 15px;
    padding-left: 20px;
}

.download_image {
    height: 24px;
    width: 24px;
    margin-left: auto;
    margin-right: 30px;
}

.post-buttons__block {
    border-top: 1px solid #F4F4F4;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.post-buttons__button {
    border: 1px solid #F4F4F4;
    padding-right: 30px;
    padding-left: 30px;
    display: flex;
    align-items: center;
    height: 100%;
}

.post-buttons__share {
    width: 130px;
    justify-self: right;
    border: 1px solid #F4F4F4;
    padding-left: 30px;
    display: flex;
    align-items: center;
    height: 100%;
}

.post-buttons__icon {
    height: 14px;
    width: 14px;
}

.feed_column {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
}

.feed_profile__block {
    padding: 70px 0px 25px;
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    background-image: url(images/profile_background.png);
    background-repeat: no-repeat;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
}

.feed_profile__avatar {
    margin-right: 95px;
    margin-left: 95px;
    height: 100px;
    width: 100px;
}

.feed_profile__text {
    margin-right: 25px;
    margin-left: 25px;
    text-align: center;
}

.feed_profile__name_block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.feed__button_block{
    background-color: #FFF;
    padding: 20px 30px;
    margin-bottom: 20px;
}

.feed__button {
    border: 1px solid #0275b1;
    background-color: rgba(14, 103, 149, 1);
    color: #fff;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 700;
    line-height: 11px;
    text-align: center;
    text-transform: uppercase;
    width: 230px;
    height: 32px;
}

.feed__button:active {
    border: 1px solid #0275b1;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #FFF;
    color: #0275b1;
}

.feed__groups_block {
    background-color: #FFF;
    padding: 25px 30px;
}

.groups_list {
    display: flex;
    flex-direction: column;
}

.group-block {
    align-items: center;
    border: 1px solid #F4F4F4;
    display: flex;
    flex-direction: row;
    font-size: 14px;
    font-weight: bold;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 10px;
}

.group__icon {
    margin-right: 15px;
    width: 52px;
    height: 52px;
}

.features__block {
    text-align: right;
    margin-top: 25px;
    padding: 30px;
    background-color: #FFF;
}

.hashtags__list{
    display: flex;
    flex-wrap: wrap;
}

.hashtag {
    margin-top: 15px;
    padding: 7px 12px;
    background-color: rgba(233, 240, 248, 1);
    margin-right: 10px;
}

.trending__block {

    padding: 30px;
    background-color: #FFF;
}

.article {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    margin-top: 20px;
}

.article__image {
    margin-right: 15px;
}

.post__thumbsup {
    width: 14px;
    height: 14px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(./images/thumbs-up.png);
}

.post__thumbsup-filled {
    width: 14px;
    height: 14px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(./images/thumbs-up_filled.png);
}

.post__messages {
    width: 14px;
    height: 14px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(./images/message-circle.png);
}

.post__messages-filled {
    width: 14px;
    height: 14px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(./images/message-circle_filled.png);
}

.gradient_text {
    width: 790px;
    position: relative;
}

.gradient_text:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 -90px 60px -70px rgba(255, 255, 255, 0.94);

}